### Python Fundamentals for Data Analysts

# 4.6: Combining & Exporting Data
# Part 2

### Content

1. Perform merging between "Orders Combined" and "Products" dataframes

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import os
from datetime import datetime

In [2]:
# Set path to access data files & Load data file
path = r'C:\Users\tsoew\OneDrive\Desktop\InstaCart Basket Analysis'

# Loading products.csv
df_products = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_clean.csv'), index_col = False)
# Loading orders_products_combined.pkl
df_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ord_prod_combined_1.pkl'))

In [3]:
df_products.shape

(49672, 5)

In [4]:
df_combined.shape

(32434489, 10)

In [5]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
df_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [7]:
# This will create INNER JOIN in a new dataframe, that contains the combined df_ords 
# and df_ords_prior dataframes and uses the “product_id” column as its key. It also includes 
# the indicator = True argument so that you can check for a full match.

df_merged = df_products.merge(df_combined, on = 'product_id')
print('done')

done

In [8]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [9]:
df_merged.shape

(32404859, 14)

In [10]:
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [11]:
# Export data to pkl and put timing to know the difference between two methods

print ('Start time: ' + datetime.now().strftime("%H:%M:%S"))
df_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'ord_prod_combined_2.pkl'))
print ('End time: ' + datetime.now().strftime("%H:%M:%S"))

Start time: 12:00:44
End time: 12:00:57

# End